{% extends "base.html" %} 

{% block titulo %} Detalles {{cancion.nombre}} {% endblock %}

{% block contenido_principal %}
	 <div class="row">
		<div class="media col-xs-10">
		  <div class="media-left media-middle">
			<img class="media-object" src="/portadas/{{ cancion._id.toString() }}.png" >
		  </div>
		  <div class="media-body">
			  <h2>{{ cancion.nombre }}</h2>
			  <p>{{ cancion.autor }}</p>
			  <p>{{ cancion.genero }}</p>

			  {% if sepuedecomprar %}
			  <a class="btn btn-primary pull-right"
				 href="/cancion/comprar/{{cancion._id.toString()}}">{{ cancion.precio }} € - {{ cancion.usd }} $ comprar</a>
			  {% else %}
			  <audio controls>
				  <source src="/audios/{{ cancion._id.toString() }}.mp3" type="audio/mpeg">
			  </audio>
			  {% endif %}

			  <!-- Cambiar el precio por "reproducir" si ya está comprada -->
		  </div>
		</div>
	  </div>
	  
	 <!-- -->
	 <div class="row" style="margin-top: 20px;" >
		<div class="media col-xs-10">
			  <div class="media-left media-middle">
				<a href="#">
				  <img class="media-object" src="../public/img/user.png" >
				</a>
			  </div>
			  <div class="media-body">
				<h4 class="media-heading">Middle aligned media</h4>
				Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis. Fusce condimentum nunc ac nisi vulputate fringilla. Donec lacinia congue felis in faucibus.
			  </div>
		  </div>
	  </div>

	<h2>Añadir Comentarios</h2>
	<form class="form-horizontal" method="post" action="/comentarios/{{ cancion._id.toString() }}" encType="multipart/form-data">
		<div class="form-group">
			<label class="control-label col-sm-2" for="comentario">Comentario:</label>
			<div class="col-sm-10">
				<input type="text" class="form-control" name="comentario"
				   	placeholder="Comentario de la canción" required="true"
				   	value="{{ comentario.texto }}" />
			</div>

		</div>

		<div class="form-group">
			<div class="col-sm-offset-2 col-sm-10">
				<button type="submit" class="btn btn-primary">Añadir</button>
			</div>
		</div>
	</form>

	{%for comentario in comentarios%}
	<div class="row">
		<div class="media col-xs-10">
			<div class="media-body">
				<p>{{ comentario.texto }}</p>
				<p>{{ comentario.autor }}</p>
			</div>
		</div>
	</div>
	{% endfor %}


{% endblock %}